.MenuButtons{
    height: 30rem;
    width:44rem;
    margin-left:1rem;
}
.MenuButtons .MenuButtonOut{
    width: 100%;
    height: 5.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.MenuButtons .MenuButtonIn{
    width: 100%;
    height: 100%;
}
.MenuButtons button{
    background-color: #51566b95;
    width: 8.6rem;
    height: 5.5rem;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.796);
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: bold;
    position: relative;
}
.MenuButtons #noneBtn{
    background-color:rgba(255, 255, 255, 0.219) ;
    border: 3px solid rgba(233, 234, 240, 0.656);
}
.MenuBottomButtons{
    display: flex;
    flex-direction: row;
    width:44rem;
    justify-content: space-between;
}
.MenuBottomButtons button{
    background-color: #51566beb;
    height: 9rem;
    font-size: 1.1rem;
    border: 3px solid white;
}
.MenuBottomButtons .minuButtons{
    display: flex;
    justify-content: space-between;
}
.MenuBottomButtons .minuButtons button{
    height: 4.45rem;
}

.MenuButtons button p{
    bottom: 0;
    margin: 0;
    right: 0;
    position: absolute;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
    font-weight:normal;
}

.MenuButtons .Loading {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
  }

.MenuButtons .Loading div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}