.ProductList{
    margin-left: 80px;
    width: 67.5vw;
    height: 56vh;
    margin-top:80px;
}
.ProductListTop{
    height: 49.5vh;
    background-color: white;
    border-radius: 0.5rem;
}
.TopBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    color: white;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-size: 0.8rem;
}
.TopBar p{
    line-height: 1.5rem;
    border-right: 0.5px solid white;
}
.ProductList .Width10P{
    width: 10%;
}
.ProductList .Width40P{
    width: 40%;
}
.ProductList .Width15P{
    width: 15%;
}
.ProductList .Width15P_last{
    width: 15%;
    border:none;
}
.ProductListTopOverflow{
    height: 88%;
    overflow-y: auto;
}
.ProductListTopOverflow div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.ProductListTopOverflow .MenuInfo{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: lighter;
    font-size: 0.9rem;
    height: 3.75rem;
}
.ProductListTopOverflow hr{
    margin: 0;
    height: 0rem;
    width: 95%;
    border: none;
    border-top: 1px solid lightgray;
}

.TotalInfo{
    width: 67.5vw;
    background-color: white;
    height: 3rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.TotalInfo div{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.TotalInfo #leftP{
    width: 20%;
    margin-left: 7.5%;
    color: gray;
}
.TotalInfo #rightP{
    width:60%;
    text-align: right;
    font-weight:bold;
}

.TotalInfo hr{
    border: none;
    border-left: 2px solid lightgrey;
}
