.ProductList{
    margin-left: 80px;
    width: 67.5vw;
    height: 56vh;
}
.ProductListTop{
    height: 49.5vh;
    background-color: white;
    border-radius: 0.5rem;
}
.TopBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    color: white;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    font-size: 0.8rem;
}
.TopBar p{
    line-height: 1.5rem;
}
.ProductListTopOverflow{
    height: 88%;
    overflow-y: auto;
}
.ProductList table{
    width: 97%;
    margin-left: 1.5%;
    font-size: 0.9rem;
    border-collapse: collapse;
}
.ProductList tr{
    height: 4rem;
    text-align: center;
}
.ProductList td {
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 10px;
}
.ProductList hr{
    border: none;
    border-left: 0.25px solid rgb(116, 116, 116); 
}

.TotalInfo{
    width: 67.5vw;
    background-color: white;
    height: 3rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.TotalInfo div{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.TotalInfo #leftP{
    width: 20%;
    margin-left: 7.5%;
    color: gray;
}
.TotalInfo #rightP{
    width:60%;
    text-align: right;
    font-weight:bold;
}

.TotalInfo hr{
    border: none;
    border-left: 2px solid lightgrey;
}

