/* 전역 스타일 */
@font-face {
    font-family: 'Happiness-Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 400; /* 일반체 */
    font-style: normal;
}

:root {
    --green: #0F694A;
    --black: #1e1e1eea;
    --lightGreen:#f0f6f4a6;
  }

body {  
    font-family: 'Happiness-Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color:var(--lightGreen);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin-top: 80px;
}

